.auth-container {
  min-height: 100svh;
  display: flex;
  align-items: center;
}

.auth-box {
  width: clamp(20rem, 100%, 35rem);
  margin-inline: auto;
  padding: 3rem 2rem;
  text-align: center;
}

.mat-mdc-card-header {
  width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
