<h2>Create new employee</h2>
<form
  class="flex flex-col gap-1"
  [formGroup]="emp"
  (ngSubmit)="handleSubmit()"
  novalidate
  [@flyInOut]="'in'"
>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" type="number" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Salary</mat-label>
          <input matInput formControlName="salary" type="number" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Position</mat-label>
          <input matInput formControlName="position" type="text" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" type="text" />
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-flat-button [disabled]="emp.invalid">
    Submit <mat-icon>add</mat-icon>
  </button>
</form>
